body {
  min-width: 550px;      /* 2x LC width + RC width */
  font-family: sans-serif;
  text-align: center;
  color: white;
}

#header {
  color: black;
}

#container {
  padding-left: 200px;   /* LC width */
  padding-right: 150px;  /* RC width */
  background: black;
}
#container .column {
  position: relative;
  float: left;

}
#center {
  width: 100%;
  background: black;
}
#left {
  width: 200px;          /* LC width */
  right: 200px;          /* LC width */
  margin-left: -100%;
  background: aqua;
  color: black;
}
#right {
  width: 150px;          /* RC width */
  margin-right: -150px;  /* RC width */
  background: aqua;
  color: black;
}
#footer {
  clear: both;
  background: black;
}
/*** IE6 Fix ***/
* html #left {
  left: 150px;           /* RC width */
}